.cardItemWrapper {
  width: 95%;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  display: grid;
  grid-template-areas:
    "imageCell titleCell priceCell quantityCell totalPriceCell"
    "imageCell removeBtnCell priceCell quantityCell totalPriceCell";

  grid-template-columns: auto minmax(0, 1fr) 150px 150px 150px;
  grid-template-rows: 70% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d5dd;

  @media (320px<=width<=480px) {
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
      "imageCell titleCell titleCell titleCell"
      "imageCell priceCell quantityCell totalPriceCell"
      "imageCell removeBtnCell removeBtnCell removeBtnCell";
    grid-template-columns: auto minmax(0, 0.8fr) minmax(0, 1fr) minmax(0, 0.8fr);
    grid-template-rows: minmax(0, 1fr) 50px 30px;
    /* border: 1px solid red; */
  }

  .imageCell {
    aspect-ratio: 1/1;
    height: 100%;
    grid-area: imageCell;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & div {
      position: relative;
      width: 70%;
      aspect-ratio: 1/1;
      /* border: 1px solid red; */
    }

    @media (320px<=width<=480px) {
      aspect-ratio: 1/1.5;

      & div {
        width: 80%;
      }
    }
  }
  .titleCell {
    width: 100%;
    height: 100%;
    grid-area: titleCell;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & p {
      width: 95%;
      font-size: 0.9rem;
      line-height: 1.5;
      font-weight: 600;
      color: #1c3553;
      margin-top: 10px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (320px<=width<=480px) {
        font-size: clamp(
          0.85rem,
          0.34999999999999976rem + 2.5000000000000013vw,
          1.1rem
        ) !important;
      }
    }
  }
  .priceCell {
    width: 100%;
    height: 100%;
    grid-area: priceCell;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (320px<=width<=480px) {
      justify-content: flex-start;
      &::after {
        background-color: transparent !important;
      }
    }

    &::after {
      position: absolute;
      content: "";
      background-color: #d0d5dd;
      height: 20%;
      width: 1px;
      left: 0;
    }
  }
  .quantityCell {
    width: 100%;
    height: 100%;
    grid-area: quantityCell;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid salmon; */

    &::after {
      position: absolute;
      content: "";
      background-color: #d0d5dd;
      height: 20%;
      width: 1px;
      left: 1px;
    }
  }
  .totalPriceCell {
    width: 100%;
    height: 100%;
    grid-area: totalPriceCell;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: #d0d5dd;
      height: 20%;
      width: 1px;
      left: 0;
    }
  }
  .removeBtnCell {
    width: 100%;
    height: 100%;
    grid-area: removeBtnCell;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .deleteBtnWrapper {
      width: auto;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid red; */

      & button {
        width: auto;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0px;
        border: none;
        border-bottom: 1px solid #d0d5dd;
        background: none;
        cursor: pointer;
        & p {
          font-size: 0.7rem;
          font-weight: 500;
          color: #d92d20;

          @media (320px<=width<=480px) {
            font-size: clamp(
              0.7rem,
              0.2999999999999998rem + 2.000000000000001vw,
              0.9rem
            ) !important;
          }
        }
      }
    }
  }
}

.priceWrapper {
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  @media (320px<=width<=480px) {
    justify-content: flex-start;
  }
  .currencyIconDiv {
    height: 100%;
    /* border: 1px solid red; */
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

    @media (320px<=width<=480px) {
      /* padding: 5px; */
      aspect-ratio: 1/1.5;
    }
  }
  .priceValueDiv {
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    & p {
      font-size: 0.8rem;
      font-weight: 500;
      @media (320px<=width<=480px) {
        font-size: clamp(
          0.7rem,
          0.09999999999999987rem + 3.0000000000000004vw,
          1rem
        ) !important;
      }
    }
  }
}

.quantityToggleWrapper {
  width: 90%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .toggleBtnDiv {
    width: 33%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12%;
    background: none;
    border: none;
    cursor: pointer;
    @media (320px<=width<=480px) {
      padding: 10%;
    }
  }
  .toggleBtnDivDec {
    transform: rotate(180deg);
  }
  .quantityValueDiv {
    display: flex;
    width: 33%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border: 1px solid #d0d5dd;
    border-radius: 0.3rem;

    & p {
      font-size: 0.8rem;
      font-weight: 500;

      @media (320px<=width<=480px) {
        font-size: clamp(
          0.7rem,
          0.09999999999999987rem + 3.0000000000000004vw,
          1rem
        ) !important;
      }
    }
  }
}
