.cartListWrapper {
  width: 95%;
  height: 95%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .emptyListMsg {
    font-size: 1rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
}
