.summaryWrapper {
  width: 95%;
  height: 95%;
  /* border: 1px solid red; */

  .headerWrapper {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;
  }

  .mainWrapper {
    width: 100%;
    height: calc(100% - 50px);
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.summaryCard {
  width: 80%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.cardRow {
  width: 100%;
  height: 40px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-areas: "labelCell valueCell";
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;

  .labelCell {
    grid-area: labelCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & p {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .valueCell {
    grid-area: valueCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.badgeWrapper {
  width: auto;
  height: 30px;
  /* border: 1px solid red; */
  display: flex;

  .currencyIconDiv {
    aspect-ratio: 1/2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    padding: 1%;
  }

  .textDiv {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */

    & p {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
.checkoutBtnWrapper {
  height: 80px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.checkoutBtn {
  width: 100%;
  height: 40px;
  background-color: #d0f77f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
  border: none;

  .buttonTextDiv {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .btnIconDiv {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121827;
    padding: 3%;
  }
}
