.authBtnWrapper {
  width: auto;
  height: 25px;
  margin-right: 25px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    border: 1px solid #f93232;

    & p {
      color: #f93232;
      font-weight: 500;

      @media (320px<=width<=480px) {
        font-size: clamp(
          0.8rem,
          0.5000000000000002rem + 1.4999999999999991vw,
          0.95rem
        ) !important;
      }
    }
  }
  .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    border: 1px solid #101828;
  }

  & p {
    font-size: 0.9rem;
    font-family: 500;
  }
}
