.linkWrapper {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #101828;
  padding: 5px 20px;
  margin-right: 25px;

  & p {
    font-size: 0.9rem;
    font-family: 500;
    color: white;
    @media (320px<=width<=480px) {
      font-size: clamp(
        0.8rem,
        0.5000000000000002rem + 1.4999999999999991vw,
        0.95rem
      ) !important;
    }
  }

  .cartCountDiv {
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.01rem solid #10182862;
    background-color: #c6f86b;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      font-size: 0.6rem;
      font-weight: 600;
      color: #101828;
      @media (320px<=width<=480px) {
        font-size: clamp(
          0.5rem,
          -0.10000000000000009rem + 3.0000000000000004vw,
          0.8rem
        ) !important;
      }
    }
  }
}
