* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; /* Ensures antialiasing on WebKit browsers */
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #101828;
}

button {
  font-family: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
input {
  font-family: inherit;
  color: inherit;
}
