.cardWrapper {
  width: 70%;
  aspect-ratio: 2/2.5;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-areas:
    "imageCell imageCell"
    "titleCell titleCell"
    "priceCell cartBtnCell";
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(0, 1fr) 50px 30px;

  @media (320px <=width<=480px) {
    width: 95%;
    aspect-ratio: 2/2.8;
    margin-bottom: 30px;
    grid-template-columns: 35% 65%;
    padding: 10px;
  }
  .imageCell {
    grid-area: imageCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    & div {
      width: 70%;
      aspect-ratio: 1/1;
      /* border: 1px solid red; */
      position: relative;
    }
  }
  .titleCell {
    grid-area: titleCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;

    & p {
      width: 80%;
      color: #1c3553;
      font-size: 0.8rem;
      line-height: 1.5;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;

      @media (320px<=width<=480px) {
        font-size: clamp(
          0.65rem,
          0.050000000000000155rem + 2.999999999999999vw,
          0.95rem
        ) !important;
      }
    }
  }
  .priceCell {
    grid-area: priceCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;

    @media (320px<=width<=480px) {
      width: auto;
    }

    .priceWrapper {
      width: auto;
      height: 80%;
      /* border: 1px solid red; */
      display: flex;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .currencyIconDiv {
      height: 100%;
      aspect-ratio: 1/2;
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
    }
    .priceValueDiv {
      width: auto;
      height: 100%;
      border-bottom: 1px solid #d0d5dd;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #667085;
        @media (320px<=width<=480px) {
          font-size: clamp(
            0.5rem,
            -0.10000000000000009rem + 3.0000000000000004vw,
            0.8rem
          ) !important;
        }
      }
    }
  }
  .cartBtnCell {
    grid-area: cartBtnCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn {
      width: auto;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;

      .btnTextDiv {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        overflow: hidden;

        & p {
          font-size: 0.7rem;
          font-weight: 600;
          color: #101828;
          white-space: nowrap;
        }

        @media (320px<=width<=480px) {
          padding: 0px 0px;

          & p {
            font-size: clamp(
              0.5rem,
              -0.10000000000000009rem + 3.0000000000000004vw,
              0.8rem
            ) !important;
          }
        }
      }
      .btnIconDiv {
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        & div {
          width: 85%;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #c6f86b;
          padding: 5px;
          @media (320px<=width<=480px) {
            width: 75%;
          }
        }
        .isAddedClass {
          transform: rotate(180deg);
        }
      }
    }
  }
}
